<center>
		<hr>
<div>		
		<span class="category"> <a href="/categories/linux">Linux</a> </span>
		
		<span class="category"> <a href="/categories/general">General</a> </span>
		
		<span class="category"> <a href="/categories/python">Python</a> </span>
		
		<span class="category"> <a href="/categories/startups">Startups</a> </span>
		
		<span class="category"> <a href="/categories/book-reviews">Books</a> </span>
		
		<span class="category"> <a href="/categories/computer-science">Cs</a> </span>
		
		<span class="category"> <a href="/categories/personal">Personal</a> </span>

		<!--
		
		<span class="category"> <a href="">Programming</a> </span>
		<span class="category"> <a href="">Math</a> </span>
		<span class="category"> <a href="">Physics</a> </span>
		<span class="category"> <a href="">Music</a> </span>
		
		<span class="category"> <a href="">C/C++</a> </span>
		<span class="category"> <a href="">Rust</a> </span>
		<span class="category"> <a href="">Haskell</a> </span>
		<span class="category"> <a href="">Languages</a> </span>
	
		
		<span class="category"> <a href="">A.I</a> </span>
		<span class="category"> <a href="">Android</a> </span>
		
		-->
		
		

</div>

		<hr>
				
</center>


<br>

