<center>
		<hr>
<div>


	{% for cate in site.categories %} 
	<span class="category"> <a href="{{ cate.url | downcase }}">{{ cate.title }}</a> </span>
	{% endfor %} 
	
	<span class="category"><a href="">Notes</a></span>
	
	<span class="category"><a href="/tags">Tags</a></span>
		
</div>

		<hr>
</center>


<br>



<!--	
		<span class="category"> <a href="">Math</a> </span>
		<span class="category"> <a href="">Physics</a> </span>
		<span class="category"> <a href="">Music</a> </span>
		<span class="category"> <a href="">A.I</a> </span>
-->
