---
layout: default
---


<div>

<!--- print out the tags based of categoreis -->
</div>




<div class="">
  <h1 class="">{{ page.categories }} categories </h1>
   
  {% for post in site.posts %}
    {% if post.categories == page.categories %}

<ul>
<h3>       
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      
      <span class="post-meta">

      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if post.last_modified_at %}
      (Updated: <time datetime="{{ post.last_modified_at | date_to_xmlschema }}">{{ post.last_modified_at | date: "%b %-d, %Y" }}</time>)
      {% endif %}
  
</span>

</h3>
</ul>

    {% endif %}
  {% endfor %}
</div>
